/* COLORS USED 
PRIMARY: #f5ece3;
SECONDARY: #b89186f3
HERO: #dbad9ff3
*/


body{
    background-color: #f5ece3;
    font-family: 'Gruppo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-size: xx-large;
    color: black;
}

header{
    background-color: #b89186f3;
    padding: 5px;
    border-bottom: 3px solid #4a4a4a;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

main {
    padding-top: 56px;
}


/* IMGS & ICONS */

.svg1 {
    width: 80%;
}

.svg2 {
    width: 100%;
}

img {
    width: 100%;
}

#teanna-logo {
    max-width: 100px;
    padding-left: 0px
}

#teanna {
    float: right;
    padding: 20px;
    width: 250px;
    height: auto;
}

.prototypes {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    text-align: center;
}

.prototypes picture {
    width: 140px;
    height: 150px
}

.imageWrapper {
    padding-top: 55px;

}

.coverphoto {
    width: 500px;
}


/* HERO SECTION */
#hero { 
    background-color: #dbad9ff3;
    padding: 30px;
    display: inline-block;
    padding-top: 56px;
}

#hero p, h2 {
    text-align: center;
}


/* NAV BAR*/
nav {
    display: inline-block;
    width: 100%
}

#navigation nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navigation nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#navigation nav > ul > li > a {
    display: inline-block;
    padding: 60px 10px 0px 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 550;
    color: #4a4a4a;
}

#navigation .navtoggle li:not(:last-child) {
    display: none;
}

#navigation .navtoggle, .navtoggle.responsive {
    position: relative;
}


/* HAMBURGER MENU */
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 30px;
}

#navigation .navtoggle.responsive nav {
    padding: 30px 0 0;
}

#navigation .navtoggle.responsive li {
    text-align: right;
    display: block;
    padding: 5px 0;
    border-top: 1px solid #d6bab5ea
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}


/* TEXT */
h1, 
h2, 
h3, 
h4 {
    line-height: 1;
}

h1,
h2,
h3 {
    color: #362d2a;
}

h4 {
    color: #7F6C67;
}


h1 {
    text-align: center;
}

p {
    text-align: left;
    line-height: 40px;
}

#about h2{
    text-align: left
}

.timeline {
    font-size: 30px;
}


/* FOOTER */
#contact p {
    text-align: center
}

.footer {
    background-color:#dbad9ff3;
    width: 100%;
    bottom: 0;
    height: 150px;
}

#contact {
    align-items: center;
    text-align: center;
    align-content: center;
}

.socials {
    width: 50px; 
    height: 50px;
    margin: 15px 0px 15px 0px;
}

.social2 {
    width: 45px; 
    height: auto;
    margin: 15px 0px 13px 0px;

}

.footer p {
    font-size: 20px;
}

/* LINKS */
a {
    color:#2e2d2d;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.6s;
}

a:active {
    color: rosybrown;
}

a:hover,
a:focus {
    color: rgb(168, 50, 50);
    text-decoration: underline;
}

#navigation a:hover, 
a:focus {
    color: rgb(235, 78, 78);
    text-decoration: underline;
}


/* BUTTONS */
.button {
    /* text-align: center; */
    background-color: #dbad9ff3;
    color: #2e2d2d; 
    font-size: 25px;
    padding: 20px 20px 10px 20px;
    margin: 5px;
    border-radius: 30px;   
    border-bottom: 1.5px solid #3d3d3d;
    transition: 0.1s opacity;
    position: relative;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    transition-duration: 0.2s opacity;
}

.button:hover {
    opacity: 0.6; 
    text-decoration: none;
}

.button-space {
    margin: 20px 0 15px 0;
}

.social-space{
    margin-left: 20px
}

#hero .button-space {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* LAYOUT STYLING */

.smallrow {
    margin-top: 4px;
}
.smallrow::after {
    content: '';
    clear: both;
    display: table;
}

.divider {
    margin-top: 100px;
}

.divider::after {
    content: '';
    clear: both;
    display: table;
}

.bottomrow {
    margin-bottom: 100px;
}
.bottomrow::after {
    content: '';
    clear: both;
    display: table;
}


.row {
    margin: 100px 0; 
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    padding: 15px;
}


/* LISTS */
.task-list {
    text-align: center;
    list-style-position: inside
}

ol.task-list li {
    text-align: left;
    margin-left: 10%
}

.improvement { 
    margin-left: 5%

}

.center-list {
    text-align: center;
    list-style-position: inside
}

ol.center-list li {
    text-align: left;
    margin-left: 30%
}

.skills-wrapper{
    text-align: center;
}

.tools-wrapper {
    text-align: center;
}

/* ANIMATION */

@keyframes person1 {
    from {
        fill: #f00
    }
    to {
        fill: rgb(104, 41, 41);
    }
}

.person1 {
    animation: 2s person1 infinite alternate linear;
}

@keyframes person2 {
    from {
        fill:#ff00e0;
    }
    to {
        fill: rgb(61, 13, 61);
    }
}

.person2 {
    animation: 2s person2 infinite alternate linear;
}

@keyframes person3 {
    from {
        fill: #00ff0e;
    }
    to {
        fill: #1b441d;
    }
}

.person3 {
    animation: 2s person3 infinite alternate linear;
}

@keyframes person4 {
    from {
        fill: #ffcf00;
    }
    to {
        fill: #423a19;
    }
}

.person4 {
    animation: 2s person4 infinite alternate linear;
}

@keyframes person5 {
    from {
        fill: #0008ff;
    }
    to {
        fill: #1a1b46;
    }
}

.person5 {
    animation: 2s person5 infinite alternate linear;
}

@keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(200px,50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px,48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

[class*='col-'] {
    float: left;
}

.col-md-12 {
    width: 100%;
}



* {box-sizing:border-box}

/* CAROUSEL TESTING */

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}



/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 900px) {
.container {
    padding: 30px;
}

.svg1 {
    width: 80%;
}

.svg2 {
    width: 100%;
}

header {
    text-align: unset;
    padding: 20px 20px 13px;
}

nav {
    width: auto;
    float: right;
    margin-top: 4px
}

nav > ul {
    margin: 1em 0;
}

main {
    padding-top: 99.8px;
}

#hero span {
    display: block;
}

.col-md-12 {
    width: 100%;
}

#navigation nav > ul > li {
    display: inline-block;
    position: relative;
}

#navigation .navtoggle li:not(:last-child) {
    display: inline-block;
}

#navigation .navtoggle li:last-child {
    display: none;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 2.25em;
    font-weight: 450;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    text-align: left;
}

h4 {
    font-size: 1em;
    font-weight: 300;
}

p {
    font-size: 1em;
}

.projectphoto {
    width: 400px;
}

.projectphotoWrapper {
    padding-left: 15%;
}

.button {
    padding-left: 25px; 
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.button-space {
    margin: 0 20px 0 20px;
}

#teanna-logo {
    width: 400px;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.container {
    padding: 0 100px 100px 100px;
}

.col-lg-6 {
    width: 60%;
}

.col-lg-4 {
    width: 40%;
}

.col-lg-5 {
    width: 50%;
}

.textWrapper {
    width: 60%;
}

#teanna-logo {
    min-width: 150px;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.35em;
}

p {
    font-size: 1em;
}

.svg1 {
    width: 80%;
    align-items: center;
    padding-top: 70px;
}

.svg2{
    width: 80%;
    padding-left: 100px;
}

.imageWrapper {
    margin-left: 50px;
    margin-top: 130px;
}
}